
INF272-Del2/.vs/INF272-Del2/config/

INF272-Del2/.vs/INF272-Del2/v16/.suo

INF272 Deliverable 2/.vs/INF272 Deliverable 2/config/

INF272 Deliverable 2/.vs/INF272 Deliverable 2/v16/.suo

INF272 Deliverable 2/INF272 Deliverable 2/obj/Debug/INF272 Deliverable 2.csprojAssemblyReference.cache
